@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
 }
 body{
    background-image: linear-gradient(to right, yellow , red);
}
.sidebar{
    background-color: rgb(144, 200, 255);
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 29px;
}
.sidebar nav li{
    list-style: none;
    font-size: 22px;
    padding: 24px;
}

.sidebar nav li a{
   text-decoration: none;
   color: black;
}
.main{
    /*background-color: yellow;*/
    width: 88vw;
}

.container{
    display: flex;
}

.InfoContainer{
    /*background-color: rgb(239, 63, 177);*/
    height: 56vh;
    width: 76vw;
    margin: 97px auto;
    margin-left: 226px;
    display: flex;
    justify-content: space-around;
}

.DevInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.Hello{
    font-size: 3.3em;
    
    
}

.Name{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    
}

.About{
    font-size: 2em;
    
}
.Moreabout{
    font-size: 1.2em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
    
}

.button{
    margin-top: 2.3em;
}

.btn {
    padding: 6px;
    border-radius: 17px;
    color: white;
    background-color: #0f46ab;
    font-weight: bold;
    font-size: 13px;
    width: 107px;
    margin: -18 -1px;
    cursor: pointer;
}
.btn-sm{
    font-size: 12px;
    padding: 6px 19px;
    margin: 4px -1px;
}

.btn:hover{
    background-color: white;
    color: #0f46ab;
}

.devPic{
    height: 56vh;
    
}

.list{
 margin: 0 81px;
 font-size: 27px;
}


.contactform{
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /*padding: 12px 0;*/
    
}

.contactform form div{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
   /* width: 26vw;*/
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 30px;
}

#emailHelp{
    font-size: 11px;
      color: midnightblue;
      margin: 0 5px;
      padding: 3px 0 0 0;
}

#form-check {
   flex-direction: row;
}

#form-check input{
    width: 24px;
     margin: 3px 0;
}

.blogitem{
    margin: 20px;
    
}
.blogcontainer{
    margin: 0 88px;
}

.blogcontainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 14px;
}

.blogitem p{
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 32px;
}

p{
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 0 88px;
    margin-top: 19px;
}
.intro h2{
    font-family: 'Source Code Pro', monospace;
    margin: 0 15px;
    margin-top: 36px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 0 12px;
    margin-top: 25px;
}

.skillItem{
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 25px;
}

 .skill{
    width: 266px;
    height: 6px;
    background-color: green;
    border:2px solid black;
 }

 .t5{
    width: 75px;
    background-color: red;
 }

 .sidebarGo{
    transform: translate(-301px, 0px);
    position: absolute;
    } 

 .hamburger{
    position: absolute;
         cursor: pointer;
         top: 10px;
         left: 10px;
 }
 .cross{
    margin-left: 181px;
 }
 
 .Services h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 57px;
    margin-top: 4px;
    color: #0f46ab;
 }
 .Social{
    padding-top: 12px;
    margin-left: 3px;
    margin-top: -68px;
 }
 @media (max-width: 1497px) {
    * {
      /*background-color: rgb(10, 155, 204);*/
    }
    .DevInfo{
        font-size: 10px;
    }
   .DevPic {
    display: none;
   }
   .intro, .blogcontainer, .contactform{
    margin:50px 8px;
   }
  
 }

